<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="com.gmail.alexflanker89.lesson.dao.UserDaoSimple"/>

    <bean id="userService" class="com.gmail.alexflanker89.lesson.service.SimpleUserService">
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>

    <bean id="questionDao" class="com.gmail.alexflanker89.lesson.dao.QuestionDaoSimple"/>

    <bean id="questionService" class="com.gmail.alexflanker89.lesson.service.SimpleQuestionService">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

    <bean id="userAnswerDao" class="com.gmail.alexflanker89.lesson.dao.UserAnswerDaoSimple"/>

    <bean id="userAnswerService" class="com.gmail.alexflanker89.lesson.service.SimpleUserAnswerService">
        <constructor-arg name="userAnswerDao" ref="userAnswerDao"/>
    </bean>

    <bean id="view" class="com.gmail.alexflanker89.lesson.views.SimpleView"/>

    <bean id="testController" class="com.gmail.alexflanker89.lesson.controller.TestControllerImpl">
        <constructor-arg name="userService" ref="userService"/>
        <constructor-arg name="userAnswerService" ref="userAnswerService"/>
        <constructor-arg name="questionService" ref="questionService"/>
        <constructor-arg name="view" ref="view"/>
    </bean>

    <bean id="solution" class="com.gmail.alexflanker89.lesson.Solution">
        <constructor-arg name="controller" ref="testController"/>
    </bean>

</beans>